@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 13% 95%;
    --foreground: 224 71.4% 4.1%;
    --card: 120 13% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 120 13% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 120 39% 50%;
    --primary-foreground: 120 13% 98%;
    --secondary: 120 10% 90%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 120 10% 90%;
    --muted-foreground: 224 71.4% 4.1%;
    --accent: 231 48% 51%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 88%;
    --input: 120 10% 88%;
    --ring: 120 39% 50%;
    --chart-1: 120 39% 50%;
    --chart-2: 231 48% 51%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 120 5% 10%;
    --foreground: 0 0% 98%;
    --card: 120 5% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 120 5% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 120 39% 55%;
    --primary-foreground: 120 5% 15%;
    --secondary: 120 5% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 120 5% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 231 48% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 5% 20%;
    --input: 120 5% 20%;
    --ring: 120 39% 55%;
    --chart-1: 120 39% 55%;
    --chart-2: 231 48% 60%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
